body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:  auto 50px;
    font-family: 'Shuneet', serif;
       
    
}


#main{
    grid-column: 4 / span 6;
    text-align: center;
    overflow-wrap: break-word;
    background-color: lightblue;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    
}
footer{
    grid-column: 4 / span 6;
    text-align: center;
}
.pic{
    width: 100%;
    height: 100%;
    
}
h1{
    grid-column: 3/ span 7;
    grid-row: 1/ span 1;
    z-index: 1;
     text-align: center;
     font-weight: bold;
     font-size: 250%;
     padding: 3%;
     width: 100%;
    
     color: rgb(190, 10, 10);

}
h2{
    grid-column: 3/ span 7;
    grid-row: 2/ span 1;
    z-index: 1;
     text-align: center;
     font-weight: bold;
     font-size: 250%;
     padding: 3%;
     width: 100%;
    
     color: rgb(190, 10, 10);

}
h2.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
h2.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.whatsapp{
    grid-column: 6/ span 2;
    grid-row: 3/ span 1;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}
.pic{
    grid-column: 1/ span 12;
    grid-row: 1/ span 6;
    width: 100%;
    height: 100%;
    
}
a{
    text-decoration: none;
}

@media screen and (max-width: 1000px) and (min-width: 800px){
   
    #main{
        grid-column: 3 / span 8;
    }
    footer{
        grid-column: 3 / span 8;
       
    }

} 
@media screen and (max-width: 800px) and (min-width: 640px){
   
    #main{
        grid-column: 2 / span 10;
    }
    footer{
        grid-column: 2 / span 10;
       
    }

}
@media screen and (max-width: 640px) and (min-width: 550px){
   
    #main{
        grid-column: 1 / span 12;
    }
    footer{
        grid-column: 1 / span 12;
       
        text-align: center;
    }
    h2,h1{
        font-size: 200%;
    }
}
@media screen and (max-width: 550px) and (min-width: 400px){
   
    #main{
        grid-column: 1 / span 12;
    }
    footer{
        grid-column: 1 / span 12;
       
        text-align: center;
    }
    h2,h1{
        font-size: 170%;
    }
    .whatsapp{
        grid-column: 5/ span 2;
        width: 130%;
        height: 130%;
    }
}
@media screen and (max-width: 400px) and (min-width: 100px){
   
    #main{
        grid-column: 1 / span 12;
    }
    footer{
        grid-column: 1 / span 12;
       
        text-align: center;
    }
    h2,h1{
        font-size: 170%;
    }
    .whatsapp{
        grid-column: 5/ span 2;
        width: 130%;
        height: 130%;
    }
}

